In [1]:
import pandas as pd
from src.features_helper import multiplication

In [2]:
df_in_values = [
    [10, 20, 30],
    [1, 2, 3],
    [100, 200, 300]]

df_in_index = [2, 3, 5]

df_in_columns = ["col1", "col2", "col3"]

df_in = pd.DataFrame(df_in_values, index=df_in_index, columns=df_in_columns)

In [3]:
df_test = multiplication(df=df_in, old_column1="col1",
                                                 old_column2="col2", new_column_name='col2xcol1')

In [4]:
df_test

   col1  col2  col3  col2xcol1
2    10    20    30        200
3     1     2     3          2
5   100   200   300      20000

In [6]:
df_true = pd.DataFrame(
        [[10,20,30, 200],
         [1, 2, 3, 2],
         [100, 200, 300,20000]],
        index=[2, 3, 5],
        columns=["col1", "col2", "col3", "col2xcol1"])

In [7]:
pd.testing.assert_frame_equal(df_true, df_test)